$colors-white: #ffffff;
$colors-black: #000000;
$colors-red-500: #ff4242;
$colors-gray-400: #c0c0c0;
$colors-blue-250: #8adae3;
$colors-blue-300: #62e0d9;
$colors-navy-50: #dfe4f0;
$colors-navy-800: #202a3c;
$colors-navy-850: #1b2330;
$colors-navy-900: #181f2b;
$colors-navy-950: #0b1524;

$spacing-0: 0;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-700: 3.5rem;
$spacing-800: 4rem;
$spacing-900: 4.5rem;
$spacing-1000: 5rem;

$colors-gradient-1: linear-gradient(132.02deg, #63e1d9 0%, #34a0cd 100%);
