@use "jk-sass-lib/sass/reset";

body {
  background-color: $colors-navy-950;
  color: $colors-white;
  font-family: var(--font-open-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
  font-weight: 700;
}
