@use "jk-sass-lib/sass/reset";

body {
  background-color: $colors-navy-950;
  color: $colors-white;
  font-family: var(--font-open-sans);
  padding: clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem) 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
  font-weight: 700;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
